# Core ML & Data Processing
numpy==1.26.4
pandas==2.2.2
scikit-learn==1.5.0
joblib==1.4.2
torch>=2.0.0
xgboost==2.0.3

# Remote Sensing API
earthengine-api==0.1.390
geemap==0.31.0
rasterio
matplotlib

# Backend Server
fastapi==0.115.0
uvicorn[standard]==0.30.1
pydantic==2.7.1
python-dotenv==1.0.1
httpx==0.27.0
